$gutter-width:16px;
$grid-num:12;
*{
	box-sizing: border-box;
	margin: 0;
}
.container{
	margin: 0 auto;
	max-width: 1240px;
	padding-left: ($gutter-width / 2);
	padding-right: ($gutter-width / 2);
}
.box{
	height: 200px;
	background-color: purple;
}
.row{
	display: flex;
	margin-right: -($gutter-width / 2);
	margin-left: -($gutter-width / 2);
	flex-wrap: wrap;
}
%col{
	position: relative;
	min-height: 1px;
	padding-left: ($gutter-width / 2);
	padding-right: ($gutter-width / 2);
	max-width: 100%;
	flex: 0 0 100%;
}

@for $i from 1 to $grid-num + 1{
	.col-#{$i}{
		@extend %col;
		max-width: 100% * ($i / $grid-num);
			flex:0 0 (100% * ($i / $grid-num));
	}
}

