// o-listHead
.o-listHead{
  &__wrapper{
    display: flex;
    justify-content: space-between;
    padding:16px 0;
    position:relative;
  }
  &__title{
    font-size: 24px;
    font-weight: 700;
    padding: 0 0 0 48px;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top:12px;
      width: 40px;
      height: 32px;
      background:linear-gradient(-60deg,transparent 15px,$color-secondary 0);
    }
  }
}

